# Database
spring:
  datasource:
    #url: jdbc:sqlite:logger_config.sqlite
    #username:
    #password:

#    url: jdbc:mysql://localhost:3306/umgmt?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;rewriteBatchedStatements=true
#    username: mpc
#    password: mpc

# Keep the connection alive if idle for a long time (needed in production)
#    testWhileIdle: true
#    validationQuery: SELECT 1

#spring:
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect

security:
  basic:
    enabled: false

logging:
  path: /tmp
  logfile: /tmp/mpc.log

# HTTPS REST server port
server:
  port: 8081
  session-timeout: 60
  protocol: http

# Authentication tokens for API access.
auth:
    management:
        tokens:
            - a
            - b
    business:
        tokens:
            - public

keystore:
  file: onetimekeystore.jks
  pass: password

backend:
  admin:
    username: backend_admin
    password: remember_to_change_me_by_external_property_on_deploy

