# Database
spring:
  datasource:
    #url: jdbc:sqlite:logger_config.sqlite
    #username:
    #password:

security:
  basic:
    enabled: false

logging:
  path: /tmp
  logfile: /tmp/mpc.log

# HTTPS REST server port
server:
  port: 8081
  session-timeout: 60
  protocol: http   #http or https
  

# Authentication tokens for API access.
auth:
    management:
        tokens:
            - a
            - b
    business:
        tokens:
            - public

keystore:
  file: onetimekeystore.jks
  pass: password

backend:
  admin:
    username: backend_admin
    password: remember_to_change_me_by_external_property_on_deploy

